*,
::after,
::before {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-padding : 50px;
    --main-color: #2196f3 ;
    --black-color :#191919 ;
    --section-background-color :#ececec;
    --transition-duration: 0.3s;
    --section-padding: 100px;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Cairo", sans-serif;
}
/* components */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* small screens */
@media (min-width:768px) {
    .container{
        max-width: 750px;
    }
}
/* medium screens */
@media (min-width:992px) {
    .container{
        max-width: 970px;
    }
}
/* large screens */
@media (min-width:1200px) {
    .container{
        max-width: 1170px;
    }
}

.section-name {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.section-name h1 {
    position: relative;
    border: 2px solid black;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
.section-name h1::after,
.section-name h1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.section-name h1::after {
    right: -30px;
}
.section-name h1::before {
    left: -30px;
}
.section-name h1:hover:before {
    animation: section-name-before 0.5s linear forwards;
}
.section-name h1:hover::after {
    animation: section-name-after 0.5s linear forwards;
}
.section-name h1:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}


/* components */

/* header */

header {
    background-color: white;
}
header .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width:767px) {
    header .container {
        height: 111px;
        justify-content: space-between;
        flex-direction: column;
    }   
}
header h1 {
    margin: 0;
    color: var(--main-color);
}
@media (max-width:767px) {
    header h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }    
}
header nav ul {
    display: flex;
}

header nav>ul>li>a {
    font-size: 18px;
    color: black;
    display: block;
    height: 50px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
header nav>ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: 0.3s;
}
header nav>ul>li>a:hover::before {
    left: 0;
}
header nav>ul>li>a:hover {
    background-color: var(--section-background-color);
}

@media (max-width:767px) {
    header nav>ul>li>a {
        height: 50px;
        font-size: 17px;
        padding: 15px;
    }
}
@media (max-width:415px) {
    header nav>ul>li>a {
        padding: 10px;  
        font-size: 14px;
        line-height: 2;
    }
}

/* header */

/* mega-menu */
header nav ul .mega-menu {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: 30px;
    background-color: white;
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    transition: 0.5s;
}
@media (max-width:767px) {
    header nav ul .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}
header nav>ul>.mega:hover>.mega-menu {
    z-index: 2;
    opacity: 1;
    top: calc(100% + 1px);
}
header nav ul .mega-menu img {
    max-width: 100%;
}
@media (max-width:992px) {
    header nav ul .mega-menu img{
        display: none;
    }
}
header nav ul .mega-menu  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;

}
header nav ul .mega-menu  ul li {
    font-size: 20px;
}
header nav ul .mega-menu  ul li a {
    color: var(--main-color);
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
header nav ul .mega-menu  ul li a::before {
    content: "";
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: -100%;
    transition: 0.3s;
}
header nav ul .mega-menu  ul li a:hover::before {
    left: 0;
}
header nav ul .mega-menu ul li a:hover {
    color: #7c6e66;
}

header nav ul .mega-menu  ul li:not(:last-child) {
border-bottom: 1px solid var(--section-background-color);
}

@media (max-width:767px) {
    header nav ul .mega-menu  ul:nth-of-type(1) li {
        border-bottom: 1px solid var(--section-background-color);
    }
    header nav ul .mega-menu  ul:nth-of-type(2) li:not(:last-child) {
    border-bottom: 1px solid var(--section-background-color);
    }
}


header nav ul .mega-menu  ul li i {
    font-size: 18px;
    margin-right: 15px;
}

/* mega-menu */
/* landing */
.landing {
    height: calc(100vh - 50px);
    position: relative;
}
@media (max-width:767px) {
    .landing {
        height: calc(100vh - 111px);
    }
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-background-color);
    z-index: -1;
    transform: skewY(-6deg) translateY(-110px);
    transform-origin: top;
}
.landing .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .land-cont {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 150px;
}

.landing .container img {
    max-width: 500px;
    animation: up-down 1.5s infinite forwards;
}
@media (max-width:992px) {
    .landing .container img {
    display: none;
    
    }
}
.landing .container a i {
    position: absolute;
    bottom: 20px;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 1.5s  infinite ;
}
.landing .container .text h1 {
        margin-top: 100px;
        font-size: 40px;
}
@media (max-width:767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
    
}
.landing .container .text h1 span {
        color: var(--main-color);
}
.landing .container .text p {
    line-height: 2;
    font-size: 18px;
    color: #777;
    
}
@media (max-width:767px) {
    .landing .container .text p {
        font-size: 15;
    }
}
@media (max-width:992px) {
    .landing .container .text {
    text-align: center;
    }
    
}

/* landing */
/* articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.articles .articles-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.articles .articles-cont .box {
    overflow: hidden;
    border-radius: 6px;
    background-color: var(--section-background-color);
    box-shadow: hwb(0deg 1% 99% / 25%) 3px 3px 15px 0px;
    border: 1px solid #0000001a;
    transition: 0.3s;
}
.articles .articles-cont .box:hover {
    box-shadow: hwb(0deg 1% 99% / 40%) 3px 3px 15px 0px;
    transform: translateY(-10px);
    cursor: default;
}
.articles .articles-cont .box img {
    max-width: 100%;
}
.articles .articles-cont .box .content{
    padding: 15px;
}
.articles .articles-cont .box .content h2 {
    margin: 0;
}
.articles .articles-cont .box .content p {
    margin: 10px 0 10px 0;
    line-height: 1.8;
    color: #777;
}
.articles .articles-cont .box .footer {
    padding: 15px;
    border-top: 1px solid #0000001a;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}
.articles .articles-cont .box .footer a {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
}
.articles .articles-cont .box:hover .footer i {
    animation: read-more 0.5s linear infinite;
}
/* articles */
/* gallary */
.gallary {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.gallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallary .container .box {
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}
.gallary .container .box .img {
    overflow: hidden;
    position: relative;
}
.gallary .container .box .img::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff80;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    opacity: 0;
}
.gallary .container .box:hover .img::after {
    animation: flash 0.3s linear ;
}

.gallary .container .box .img img {
    max-width: 100%;
    transition: 0.3s;
}
.gallary .container .box:hover img {
    transform: rotate(6deg) scale(1.1);
}
/* gallary */
/* features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .container .box {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}
.features .container .box {
    cursor:default;
}
.features .box img {
    max-width: 100%;
    position: relative;
}
.features .box .img {
    position: relative;
    overflow: hidden;
}
.features .quality .img::before {
    content: "";
    background-color: rgba(244, 63, 54, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .time .img::before {
    content: "";
    background-color: rgba(0, 150, 135, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .passion .img::before {
    content: "";
    background-color: rgba(3, 168, 244, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .box .img::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0;
    border-width: 0px 0px 119px 475px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    transition: 0.3s;
}
.features .box:hover .img:after {
    border-width: 0px 475px 119px 0px;
}

.features .box .cont {
    padding: 25px;
}
.features .box .cont h1 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    font-size: 40px;
}
.features .box .cont h1::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 4px;
    left: 15%;
    background-color: black;
    bottom: -10px;
}
.features .quality .cont h1::after {
    background-color: rgb(244, 64, 54);
}
.features .time .cont h1::after {
    background-color: rgb(0, 150, 136);
}
.features .passion .cont h1::after {
    background-color: rgb(3, 169, 244);
}
.features .box .cont p {
    line-height: 2;
    color: #777;
    margin: 40px 0;
    font-size: 18px;
}
.features .box .cont a {
    display: block;
    border: 3px solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative; 
    overflow: hidden;
    z-index: 1;
}
.features .quality .cont a {
    color: #f44036;
}
.features .time .cont a {
    color: #009688;
}
.features .passion .cont a {
    color:#03a9f4 ;
}
.features .box:hover .cont a {
    color: white;
}
.features .quality:hover .cont a {
    border-color: #f44036;
}
.features .time:hover .cont a {
    border-color: #009688;
}
.features .passion:hover .cont a {
    border-color:#03a9f4 ;
}
.features .box .cont a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    left: -100%;
    z-index: -1;
    transition: 0.3s;
}
.features .quality .cont a::after {
    background-color: #f44036;
}
.features .time .cont a::after {
    background-color: #009688;
}
.features .passion .cont a::after {
    background-color:#03a9f4 ;
}
.features .box:hover .cont a::after {
    left: 0;
}
/* features */
/* animations */
@keyframes up-down {
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes scroll-down {
    0%, 10%, 20%, 50%, 80%, 100% {
        bottom:20px;
    }
    40%, 60% {
        bottom:5px;
    }
    
}
@keyframes section-name-before {
    50% {
        left: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0;
        width: 60%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes section-name-after {
    50% {
        right: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes read-more {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flash {
    50% {
        opacity: 1;
        transform: scale(400);
    }
    100% {
        opacity: 0;
        transform: scale(800);
    }
}
/* animation */