*,
::after,
::before {
    -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-padding : 50px;
    --main-color: #2196f3 ;
    --black-color :#191919 ;
    --section-background-color :#ececec;
    --transition-duration: 0.3s;
    --section-padding: 100px;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    font-family: "Cairo", sans-serif;
}
/* components */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* small screens */
@media (min-width:768px) {
    .container{
        max-width: 750px;
    }
}
/* medium screens */
@media (min-width:992px) {
    .container{
        max-width: 970px;
    }
}
/* large screens */
@media (min-width:1200px) {
    .container{
        max-width: 1170px;
    }
}
/* scroll up */
header>a {
        position: fixed;
    bottom: 30px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2196f380;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    animation: 3.5s  ease 0s infinite normal none running scroll-down;
    z-index: 100;
}
/* scroll up */

.section-name {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.section-name h1 {
    position: relative;
    border: 2px solid black;
    padding: 15px;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}
.section-name h1::after,
.section-name h1::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.section-name h1::after {
    right: -30px;
}
.section-name h1::before {
    left: -30px;
}
.section-name h1:hover:before {
    animation: section-name-before 0.5s linear forwards;
}
.section-name h1:hover::after {
    animation: section-name-after 0.5s linear forwards;
}
.section-name h1:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}
/* separator */
.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 20px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
/* separator */
/* components */

/* header */

header {
    background-color: white;
}
header .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width:767px) {
    header .container {
        height: 111px;
        justify-content: space-between;
        flex-direction: column;
    }   
}
header h1 {
    margin: 0;
    color: var(--main-color);
}
@media (max-width:767px) {
    header h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }    
}
header nav ul {
    display: flex;
}

header nav>ul>li>a {
    font-size: 18px;
    color: black;
    display: block;
    height: 50px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}
header nav>ul>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: 0.3s;
}
header nav>ul>li>a:hover::before {
    left: 0;
}
header nav>ul>li>a:hover {
    background-color: var(--section-background-color);
}

@media (max-width:767px) {
    header nav>ul>li>a {
        height: 50px;
        font-size: 17px;
        padding: 15px;
    }
}
@media (max-width:415px) {
    header nav>ul>li>a {
        padding: 10px;  
        font-size: 14px;
        line-height: 2;
    }
}

/* header */

/* mega-menu */
header nav ul .mega-menu {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding: 30px;
    background-color: white;
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-bottom: 4px solid var(--main-color);
    display: flex;
    justify-content: space-between;
    gap: 40px;
    transition: 0.5s;
}
@media (max-width:767px) {
    header nav ul .mega-menu {
        flex-direction: column;
        gap: 0;
    }
}
header nav>ul>.mega:hover>.mega-menu {
    z-index: 2;
    opacity: 1;
    top: calc(100% + 1px);
}
header nav ul .mega-menu img {
    max-width: 100%;
}
@media (max-width:992px) {
    header nav ul .mega-menu img{
        display: none;
    }
}
header nav ul .mega-menu  ul {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px;

}
header nav ul .mega-menu  ul li {
    font-size: 20px;
}
header nav ul .mega-menu  ul li a {
    color: var(--main-color);
    display: block;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
header nav ul .mega-menu  ul li a::before {
    content: "";
    position: absolute;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: -100%;
    transition: 0.3s;
}
header nav ul .mega-menu  ul li a:hover::before {
    left: 0;
}
header nav ul .mega-menu ul li a:hover {
    color: #7c6e66;
}

header nav ul .mega-menu  ul li:not(:last-child) {
border-bottom: 1px solid var(--section-background-color);
}

@media (max-width:767px) {
    header nav ul .mega-menu  ul:nth-of-type(1) li {
        border-bottom: 1px solid var(--section-background-color);
    }
    header nav ul .mega-menu  ul:nth-of-type(2) li:not(:last-child) {
    border-bottom: 1px solid var(--section-background-color);
    }
}


header nav ul .mega-menu  ul li i {
    font-size: 18px;
    margin-right: 15px;
}

/* mega-menu */
/* landing */
.landing {
    height: calc(100vh - 50px);
    position: relative;
}
@media (max-width:767px) {
    .landing {
        height: calc(100vh - 111px);
    }
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--section-background-color);
    z-index: -1;
    transform: skewY(-6deg) translateY(-110px);
    transform-origin: top;
}
.landing .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing .land-cont {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 150px;
}

.landing .container img {
    max-width: 500px;
    animation: up-down 1.5s infinite forwards;
}
@media (max-width:992px) {
    .landing .container img {
    display: none;
    
    }
}
.landing .container a i {
    position: absolute;
    bottom: 20px;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    animation: scroll-down 1.5s  infinite ;
}
.landing .container .text h1 {
        margin-top: 100px;
        font-size: 40px;
}
.text-pop-up-bottom {
	-webkit-animation: text-pop-up-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: text-pop-up-bottom 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@media (max-width:767px) {
    .landing .container .text h1 {
        font-size: 28px;
    }
    
}
.landing .container .text h1 span {
        color: var(--main-color);
}
.landing .container .text p {
    line-height: 2;
    font-size: 18px;
    color: #777;
    margin-top: 60px;
    
}
@media (max-width:767px) {
    .landing .container .text p {
        font-size: 15px;
    }
}
@media (max-width:992px) {
    .landing .container .text {
    text-align: center;
    }
    
}

/* landing */
/* articles */
.articles {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);

}
.articles .articles-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}
.articles .articles-cont .box {
    overflow: hidden;
    border-radius: 6px;
    background-color: var(--section-background-color);
    box-shadow: hwb(0deg 1% 99% / 25%) 3px 3px 15px 0px;
    border: 1px solid #0000001a;
    transition: 0.3s;
}
.articles .articles-cont .box:hover {
    box-shadow: hwb(0deg 1% 99% / 40%) 3px 3px 15px 0px;
    transform: translateY(-10px);
    cursor: default;
}
.articles .articles-cont .box img {
    max-width: 100%;
}
.articles .articles-cont .box .content{
    padding: 15px;
}
.articles .articles-cont .box .content h2 {
    margin: 0;
}
.articles .articles-cont .box .content p {
    margin: 10px 0 10px 0;
    line-height: 1.8;
    color: #777;
}
.articles .articles-cont .box .footer {
    padding: 15px;
    border-top: 1px solid #0000001a;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}
.articles .articles-cont .box .footer a {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
}
.articles .articles-cont .box:hover .footer i {
    animation: read-more 0.5s linear infinite;
}
/* articles */
/* gallary */
.gallary {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.gallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.gallary .container .box {
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}
.gallary .container .box .img {
    overflow: hidden;
    position: relative;
}
.gallary .container .box .img::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff80;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    opacity: 0;
}
.gallary .container .box:hover .img::after {
    animation: flash 0.3s linear ;
}

.gallary .container .box .img img {
    max-width: 100%;
    transition: 0.3s;
}
.gallary .container .box:hover img {
    transform: rotate(6deg) scale(1.1);
}
/* gallary */
/* features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.features .container .box {
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    text-align: center;
}
.features .container .box {
    cursor:default;
}
.features .box img {
    max-width: 100%;
    position: relative;
}
.features .box .img {
    position: relative;
    overflow: hidden;
}
.features .quality .img::before {
    content: "";
    background-color: rgba(244, 63, 54, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .time .img::before {
    content: "";
    background-color: rgba(0, 150, 135, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .passion .img::before {
    content: "";
    background-color: rgba(3, 168, 244, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.features .box .img::after {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0;
    border-width: 0px 0px 119px 475px;
    border-color: transparent transparent white transparent;
    border-style: solid;
    transition: 0.3s;
}
.features .box:hover .img:after {
    border-width: 0px 475px 119px 0px;
}

.features .box .cont {
    padding: 25px;
}
.features .box .cont h1 {
    margin: 0 auto;
    width: fit-content;
    position: relative;
    font-size: 40px;
}
.features .box .cont h1::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 4px;
    left: 15%;
    background-color: black;
    bottom: -10px;
}
.features .quality .cont h1::after {
    background-color: rgb(244, 64, 54);
}
.features .time .cont h1::after {
    background-color: rgb(0, 150, 136);
}
.features .passion .cont h1::after {
    background-color: rgb(3, 169, 244);
}
.features .box .cont p {
    line-height: 2;
    color: #777;
    margin: 40px 0;
    font-size: 18px;
}
.features .box .cont a {
    display: block;
    border: 3px solid;
    width: fit-content;
    margin: 0 auto 30px;
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative; 
    overflow: hidden;
    z-index: 1;
}
.features .quality .cont a {
    color: #f44036;
}
.features .time .cont a {
    color: #009688;
}
.features .passion .cont a {
    color:#03a9f4 ;
}
.features .box:hover .cont a {
    color: white;
}
.features .quality:hover .cont a {
    border-color: #f44036;
}
.features .time:hover .cont a {
    border-color: #009688;
}
.features .passion:hover .cont a {
    border-color:#03a9f4 ;
}
.features .box .cont a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: black;
    left: -100%;
    z-index: -1;
    transition: 0.3s;
}
.features .quality .cont a::after {
    background-color: #f44036;
}
.features .time .cont a::after {
    background-color: #009688;
}
.features .passion .cont a::after {
    background-color:#03a9f4 ;
}
.features .box:hover .cont a::after {
    left: 0;
}
/* features */
/* tesimonials */
.tesimonials {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.tesimonials .container {
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr));
    gap: 40px;
}
.tesimonials .box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    position: relative;
}
.tesimonials .box .img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    right: -15px;
    top: -58%;
    transform: translateY(50%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 14px solid var(--section-background-color);
    box-sizing: content-box;

}
.tesimonials .box .img img {
    max-width: 100%;
}
.tesimonials .box h3 {
    margin: 0 0 10px;
}
.tesimonials .box p {
    color: #777;
    margin: 0;
}
.tesimonials .box .rete {
    margin: 10px 0;
}
.tesimonials .box:nth-child(1) .rete i:not(:nth-last-child(1)),
.tesimonials .box:nth-child(2) .rete i:not(:nth-last-child(1)),
.tesimonials .box:nth-child(3) .rete i:not(:nth-last-child(1)) {
    color: gold;
}
.tesimonials .box:nth-child(4) .rete i {
    color: gold;
}
.tesimonials .box:nth-child(5) .rete i:not(:nth-child(n+4)),
.tesimonials .box:nth-child(6) .rete i:not(:nth-child(n+4)) {
    color: gold;
}

/* tesimonials */
/* team */
.team {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.team .box {
    position: relative;
    filter: grayscale(0);
    overflow: hidden;
}
.team .box::after,
.team .box::before {
    content: "";
    height: 100%;
    width: calc(100% - 60px);
    position: absolute;
    top: 0;
    background-color: #f3f3f3;
    border-radius: 10px;
    z-index: -2;
}
.team .box::before {
    z-index: -2;
    right: 0;
    
}
.team .box::after {
    background-color: #e4e4e4;
    right: -100%;
    transition: 0.3s;
}
.team .box:hover:after {
    z-index: -1;
    right: 0;
}
.team .box:hover img,
.team .box:hover p  {
    filter: grayscale(100%);
}

.team .box .img-icons {
    display: flex;
    align-items: center;
    margin-top: 60px;

}
.team .box img {
    max-width: 100%;
    border-radius: 10px;
    width: calc(100% - 60px);
    transition: 0.3s;

}
.team .box .icons {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.team .box .icons i {
    color: #777;
}
.team .box .icons i:hover {
    color: var(--main-color);
}
.team .box h3 {
    margin: 25px 0 0 80px;
    color: var(--main-color);
    font-size: 25px;
    transition: 0.3s;


}
.team .box p {
    margin: 15px 0 25px 80px;
    transition: 0.3s;    
}
/* team */
/* services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .container .box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    transition: 0.3s;
    counter-increment: count;
    position: relative;
}
.services .container .box:hover {
    transform: translateY(-10px);
}
.services .container .box::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0;
    height: 0;
    transition: 0.3s;
    transform-origin: center;
}
.services .container .box:hover::before {
width: 100%;
height: 4px;
}
.services .box i {
    color: #d5d5d5;
    margin: 40px 20px 20px;
    font-size: 80px;
}
.services .box h2 {
    margin: 0 0 20px;
    color: var(--main-color);
    font-size: 25px;
}
.services .box .footer {
    padding: 20px;
    position: relative;
    background-color: var(--section-background-color);
    text-align: right;
}
.services .box .footer::after {
    content: "0" counter(count);
    position: absolute;
    background-color: var(--main-color);
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: white;
    padding-left: 20px;
}
.services .box .footer::before {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    width: 48px;
    height: 100%;
    top: 0;
    left: 77px;
    transform: skewX(-34deg);
    z-index: 1;
}
.services .box .footer a {
    color: var(--main-color);
    font-size: 18px;
}
/* services */
/* our-skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}
.our-skills .container {
    display: flex;
    align-items: center;
}
.our-skills  .container img {
    max-width: 100%;
}
@media (max-width:992px) {
    .our-skills img {
        display: none;
    }
    
}
.our-skills .skills {
    flex: 1;
}
.our-skills .skill h2 {
    display: flex;
    justify-content: space-between;
}
.our-skills .skill h2 span {
    font-size: 15px;
    color: var(--main-color);
    border: 1px solid #777;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    border-radius: 5px;
}
.our-skills .skill .progressing {
    width: 100%;
    height: 100%;
    background-color: #d7d2d2;
    color: transparent;
    padding: 5px 0;
    position: relative;

}
.our-skills .skill .progressing span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
    top: 0;
    left: 0;
}
/* our-skills */
/* how-works */
.how-works {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background-color);
}
.how-works .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:992px) {
    .how-works .container {
        flex-direction: column;
        align-items: center;
    }
}
.how-works .container>img {
    width: 40%;
}
@media (max-width:992px) {
    .how-works .container>img {
        width: 80%;
        max-width: 100%;
    }
}
.how-works .container .works {
    width: 50%;
}
@media (max-width:992px) {
    .how-works .container .works {
        width: 100%;
        margin-top: 50px;
    }
}
.how-works .works .work {
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid white; 
    position: relative;
    z-index: 1;
}
.how-works .works .work::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    background-color: var(--section-background-color);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: -1;
}
.how-works .works .work:hover::after {
    animation: fill-out 0.3s linear forwards;
    cursor: default;    
}
.how-works .works .work img {
    max-width: 100%;
    width: 15%;
    margin-right: 20px;
}
.how-works .works .work .text p {
    margin-bottom: 0;
    line-height: 1.6;
}
.how-works .works .work .text h3 {
    margin: 0;
}
/* how-works */
/* events */
.events {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: white;
}
.events .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.top-right {
    position: absolute;
    right: 0;
    top: -148px;
    z-index: -1;
    opacity: 0.2;
}
.bottom-left {
    position: absolute;
    left: 0;
    bottom: -68px;
    z-index: -1;
    opacity: 0.5;
}
@media (max-width:767px) {
    .events .bottom-left {
        display: none;
    }
}
.events .container>.main {
    max-width: 450px;
}
@media (max-width:992px) {
    .events .container>.main {
        display: none;
    }
}
.events .container .info {
    text-align: center;
}
.events .info .counts {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 10px;
}
.events .counts .count {
    border: 1.5px solid #777;
    border-radius: 8px;
    height: 130px;
    width: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.events .counts .count:hover,
.events .counts .count:hover div {
    border-color: var(--main-color);
    cursor: default;
}
.events .counts .count h1 {
    color: var(--main-color);
}
.events .counts .count div {
    border-top: 1.5px solid #777;
    padding-top: 5px;
}
.events .info>h2 {
    font-size: 30px;
    margin-top: 40px;
}

.events .info>p {
    text-align: center;
    line-height: 1.7;
    font-size: 19px;
    color: #777;
}
.events form {
    width: 600px;
    margin: 80px auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 35px;
    background-color: var(--section-background-color);
    border-radius: 55px;
}
@media (max-width:767px) {
    .events form {
        max-width: 90%;
        border-radius: 4px;
        flex-direction: column;
        padding: 28px 14px;
    }
}
.events form input:nth-child(1) {
    flex: 1;
    border: navajowhite;
    padding: 20px 20px;
    border-radius: 52px;
    outline: none;
    margin-right: 15px;
    color: var(--main-color);
    font-size: 18px;
}
@media (max-width:767px) {
    .events form input:nth-child(1) {
        width: 100%;
        margin: 0 0 20px;
        border-radius: 4px;
    }
}
.events form input:nth-child(1)::placeholder {
    color: #777;
}
.events form input:nth-child(2) {
    border: none;
    background-color: var(--main-color);
    padding: 18px 15px;
    border-radius: 34px;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
@media (max-width:767px) {
    .events form input:nth-child(2) {
        width: 100%;
        margin: 0;
        border-radius: 4px;
    }
}
.events form input:nth-child(2):hover {
    background-color: #1a7ecf;
}
/* events */
/* pricing */
.pricing {
    padding: var(--section-padding) 0 var(--section-padding);
    background-color: var(--section-background-color);
    overflow: hidden;
}
.pricing .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    z-index: 1;
}
.pricing .bottom-left {
    left: -52px;
    opacity: 1;
}
.pricing .top-right {
    right: -70px;
    opacity: 1;
}
@media (max-width:767px) {
    .pricing .top-right {
        display: none;
    }
}
.pricing .plan {
    background-color: white ;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
@media (min-width:1200px) {   
    .pricing .plan.popular {
        transform: translateY(-20px);
    }
}
.pricing .plan::before,
.pricing .plan::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #f6f6f6;
    z-index: -1;
    transition: 0.3s;
}
.pricing .plan::before {
    top: 0;
    left: 100%;
}
.pricing .plan::after {
    left: -100%;
    top: 50%;
}
.pricing .plan:hover:after,
.pricing .plan:hover:before{
    left: 0;
}
.pricing .plan .popular {
    writing-mode: vertical-rl;
    position: absolute;
    right: 27px;
    top: -2px;
    background-color: var(--main-color);
    padding: 8px 8px 26px;
    color: white;
    font-weight: 700;
}
.pricing .plan .popular::after {
    content: "";
    position: absolute;
    border-width: 17px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}
.pricing .plan .head {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing .plan .head h3 {
    margin: 30px 0;
    font-size: 25px;
    font-weight: bold;
}
.pricing .plan .head img {
    width: 80px;
    margin-bottom:10px ;
}
.pricing .plan .head span {
    font-size: 56px;
    color: var(--main-color);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 60px;
    position: relative;
}
.pricing .plan .head span::after {
    content: "Per Mounth";
    position: absolute;
    color: #777;
    bottom: -20px;
    right: 0px;
    font-size: 15px;
}
.pricing .plan ul {
    margin-bottom: 50px;
}
.pricing .plan ul li{
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .plan ul li i{
    margin-right: 10px;
    color: var(--main-color);
    font-size: 20px;
}
.pricing .plan .foot a {
    display: block;
    background-color: white;
    padding: 20px;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto 30px;
    color: var(--main-color);
    font-size: 20px;
    transition: 0.3s;
}
.pricing .plan .foot a:hover{
    color: white;
    background-color: var(--main-color);
}
/* pricing */
/* videos */
.videos {
    padding: var(--section-padding) 0 var(--section-padding);
    background-color: white;
}
.videos .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videos .holder {
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    background-color: #e2e2e2;
    border: 1px solid #ddd;
}
@media (max-width:992px) {
    .videos .holder{
        display: flex;
        flex-direction: column;
    }
}
.videos .holder .list {

}
.videos .list .title {
    background-color: #f4f4f4;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
}
.videos .list ul {

}
.videos .list ul li:not(:nth-child(1)) {
    background-color: #ffffff;
    padding: 25px 15px;
    border-top: 1px solid var(--section-background-color);
    cursor: pointer;
}
.videos .list ul li:not(:nth-child(1)):hover {
    background-color: #f4f4f4;
}
.videos .list ul li h3 {
    margin: 0;
    font-weight: 400;
    margin-bottom: 10px;
}
.videos .list ul li:not(:nth-child(1)):hover h3 {
    color: blue;
}
.videos .holder .view {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos .holder .view img {
    max-width: 100%;
}
.videos .holder .view div {
    background-color: white;
    padding: 20px 15px;
    margin-top: 15px;
    font-size: 20px;
}
/* vedios */
/* animations */
@keyframes up-down {
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes scroll-down {
    0%, 10%, 20%, 50%, 80%, 100% {
        bottom:20px;
    }
    40%, 60% {
        bottom:5px;
    }
    
}
@keyframes section-name-before {
    50% {
        left: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0;
        width: 60%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes section-name-after {
    50% {
        right: 0;
        border-radius: 50%;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes read-more {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flash {
    50% {
        opacity: 1;
        transform: scale(400);
    }
    100% {
        opacity: 0;
        transform: scale(800);
    }
}
@keyframes fill-out {
    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }   
}

@-webkit-keyframes text-pop-up-bottom {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
@keyframes text-pop-up-bottom {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
    opacity: 0;
    }
    100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 1;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}
/* animation */